@import "tailwindcss";

@source "../../Modules/**/*.blade.php";
@source "../../Modules/**/*.js";

@theme {
    --color-brand-50:  #E1F5EE;
    --color-brand-500: #1D9E75;
    --color-brand-600: #178F68;
    --color-brand-700: #085041;
    --color-brand-900: #042C23;
}